openengsb-connector-issues-mantis/mantisSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://futureware.biz/mantisconnect"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="http://futureware.biz/mantisconnect" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
	<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
	<xsd:complexType name="StringArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="xsd:string[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectRef">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ObjectRefArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:ObjectRef[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AccountData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="real_name" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="email" type="xsd:string" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="AccountDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:AccountData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AttachmentData" type="tns:AttachmentData"/>
	<xsd:complexType name="AttachmentData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="filename" type="xsd:string" minOccurs="0" />
			<xsd:element name="size" type="xsd:integer" minOccurs="0" />
			<xsd:element name="content_type" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="date_submitted" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="download_url" type="xsd:anyURI"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="AttachmentDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:AttachmentData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectAttachmentData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="filename" type="xsd:string" minOccurs="0" />
			<xsd:element name="title" type="xsd:string" minOccurs="0" />
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="size" type="xsd:integer" minOccurs="0" />
			<xsd:element name="content_type" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="date_submitted" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="download_url" type="xsd:anyURI"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ProjectAttachmentDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:ProjectAttachmentData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RelationshipData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="type" type="tns:ObjectRef" minOccurs="0" />
			<xsd:element name="target_id" type="xsd:integer"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="RelationshipDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:RelationshipData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IssueNoteData" type="tns:IssueNoteData"/>
	<xsd:complexType name="IssueNoteData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="reporter" type="tns:AccountData"
				minOccurs="0" />
			<xsd:element name="text" type="xsd:string" minOccurs="0" />
			<xsd:element name="view_state" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="date_submitted" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="last_modified" type="xsd:dateTime"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="IssueNoteDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:IssueNoteData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IssueData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="view_state" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="last_updated" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="project" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="category" type="xsd:string" minOccurs="0" />
			<xsd:element name="priority" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="severity" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="status" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="reporter" type="tns:AccountData"
				minOccurs="0" />
			<xsd:element name="summary" type="xsd:string" minOccurs="0" />
			<xsd:element name="version" type="xsd:string" minOccurs="0" />
			<xsd:element name="build" type="xsd:string" minOccurs="0" />
			<xsd:element name="platform" type="xsd:string" minOccurs="0" />
			<xsd:element name="os" type="xsd:string" minOccurs="0" />
			<xsd:element name="os_build" type="xsd:string" minOccurs="0" />
			<xsd:element name="reproducibility" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="date_submitted" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="sponsorship_total" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="handler" type="tns:AccountData"
				minOccurs="0" />
			<xsd:element name="projection" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="eta" type="tns:ObjectRef" minOccurs="0" />
			<xsd:element name="resolution" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="fixed_in_version" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="target_version" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="steps_to_reproduce" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="additional_information" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="attachments" type="tns:AttachmentDataArray"
				minOccurs="0" />
			<xsd:element name="relationships" type="tns:RelationshipDataArray"
				minOccurs="0" />
			<xsd:element name="notes" type="tns:IssueNoteDataArray"
				minOccurs="0" />
			<xsd:element name="custom_fields" type="tns:CustomFieldValueForIssueDataArray"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="IssueDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:IssueData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IssueHeaderData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" />
			<xsd:element name="view_state" type="xsd:integer" />
			<xsd:element name="last_updated" type="xsd:dateTime" />
			<xsd:element name="project" type="xsd:integer" />
			<xsd:element name="category" type="xsd:string" />
			<xsd:element name="priority" type="xsd:integer" />
			<xsd:element name="severity" type="xsd:integer" />
			<xsd:element name="status" type="xsd:integer" />
			<xsd:element name="reporter" type="xsd:integer" />
			<xsd:element name="summary" type="xsd:string" />
			<xsd:element name="handler" type="xsd:integer" />
			<xsd:element name="resolution" type="xsd:integer" />
			<xsd:element name="attachments_count" type="xsd:integer" />
			<xsd:element name="notes_count" type="xsd:integer" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="IssueHeaderDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:IssueHeaderData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="status" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="enabled" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="view_state" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="access_min" type="tns:ObjectRef"
				minOccurs="0" />
			<xsd:element name="file_path" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="subprojects" type="tns:ProjectDataArray"
				minOccurs="0" />
			<xsd:element name="inherit_global" type="xsd:boolean"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ProjectDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:ProjectData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectVersionData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="project_id" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="date_order" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="released" type="xsd:boolean"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ProjectVersionDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:ProjectVersionData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FilterData">
		<xsd:all>
			<xsd:element name="id" type="xsd:integer" minOccurs="0" />
			<xsd:element name="owner" type="tns:AccountData"
				minOccurs="0" />
			<xsd:element name="project_id" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="is_public" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="filter_string" type="xsd:string"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="FilterDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:FilterData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomFieldDefinitionData">
		<xsd:all>
			<xsd:element name="field" type="tns:ObjectRef" minOccurs="0" />
			<xsd:element name="type" type="xsd:integer" minOccurs="0" />
			<xsd:element name="possible_values" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="default_value" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="valid_regexp" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="access_level_r" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="access_level_rw" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="length_min" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="length_max" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="display_report" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="display_update" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="display_resolved" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="display_closed" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="require_report" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="require_update" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="require_resolved" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="require_closed" type="xsd:boolean"
				minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="CustomFieldDefinitionDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:CustomFieldDefinitionData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomFieldLinkForProjectData">
		<xsd:all>
			<xsd:element name="field" type="tns:ObjectRef" minOccurs="0" />
			<xsd:element name="sequence" type="xsd:byte" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="CustomFieldLinkForProjectDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:CustomFieldLinkForProjectData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CustomFieldValueForIssueData" type="tns:CustomFieldValueForIssueData"/>
	<xsd:complexType name="CustomFieldValueForIssueData">
		<xsd:all>
			<xsd:element name="field" type="tns:ObjectRef" minOccurs="0" />
			<xsd:element name="value" type="xsd:string" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="CustomFieldValueForIssueDataArray">
		<xsd:complexContent>
			<xsd:restriction base="SOAP-ENC:Array">
				<xsd:attribute ref="SOAP-ENC:arrayType"
					wsdl:arrayType="tns:CustomFieldValueForIssueData[]" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>